.main {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.container {
  height: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.headerHorizontalPadding {
  padding-left: 7%;
  padding-right: 7%;
}

.desktopNav {
  display: none;
}

.mobileNav {
  display: block;
}

.mobileMenuHidden {
  display: none;
}

.mobileMenuShow {
  display: block;
}

/* laptops */
/* https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */
@media only screen and (min-width: 992px) {
  .headerHorizontalPadding {
    padding-left: 10%;
    padding-right: 10%;
  }
  .desktopNav {
    display: block;
  }
  .mobileNav {
    display: none;
  }
  .mobileMenu {
    display: none;
  }
}
