.container {
  background-color: white;
}

.link {
  padding-left: 8%;
  padding-top: 2%;
  padding-bottom: 1.5%;
  font-size: medium;
  font-weight: 900;
  text-transform: uppercase;
}
/*.separator {
}*/
